<div class="mattresses clearfix">
  <div class="col-md-12 product-search">
    <%= render "search_form" %>
  </div>
  <div class="col-md-12 brand-products">
    <div class="box clearfix">
      <h1 class="text-center">Mattresses</h1>
      <% if @mattresses.length > 0 %>
        <% @mattresses.each do |mattress| %>
          <%= link_to mattress_path(mattress) do %>
            <div class="col-md-4 product">
              <img class="image img-responsive" src="<%= mattress.image %>" alt="">
              <div class="info">
                <!-- <p><%= mattress.name %><span class="price"><%= number_to_currency(mattress.price) %></span></p> -->
                <p><%= mattress.name %></p>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <h1>Sorry, no products match those criteria</h1>
      <% end %>
    </div>
  </div>
</div>
