<div class="form-group">
  <h3>Category</h3>
  <%= f.radio_button :category, "all" %>
  <%= f.label :category_all, "All" %>
  <br>
  <%= f.radio_button :category, "dining" %>
  <%= f.label :category_dining, "Dining" %>
  <br>
  <%= f.radio_button :category, "seating" %>
  <%= f.label :category_seating, "Living Room" %>
  <br>
  <%= f.radio_button :category, "bedroom" %>
  <%= f.label :category_bedroom, "Bedroom" %>
  <br>
  <%= f.radio_button :category, "occasional" %>
  <%= f.label :category_occasoinal, "Occasional" %>
  <br>
</div>
