<!-- <div class="hero">
  <img class="bg" src="<%= @brand.image %>" alt="">
  <h1><%= @brand.name %></h1>
</div> -->

  <!-- <div class="container">
    <div class="row">
      <% video_tag('chattam.mp4', controls: true, class: "brand-video") %>
    </div>
  </div> -->
<br>
<div class="clearfix">
  <div class="col-md-4 product-search">
    <div class="box clearfix">
      <h1>Product Search</h1>
      <%= form_for(@search) do |f| %>
      <%= hidden_field_tag :id, @brand.id %>
        <div class="form-group">
          <h3>Price</h3>
          <%= f.number_field :min, placeholder: "min" %>
          <p>to</p>
          <%= f.number_field :max, placeholder: "max" %>
        </div>
        <hr>
      <% if @brand.category == "mattresses" %>
        <%= render "mattress_search", f: f %>
      <% else %>
        <%= render "product_search", f: f %>
      <% end %>
        <%= f.submit "Search", class: "promo-button promo-button-sm" %>
      <% end %>
    </div>
  </div>
  <div class="col-md-8 brand-products">
    <div class="box clearfix">
      <h1 class="brand-name"><%= @brand.name %></h1>
      <% if @brand.category == "mattresses" %>
        <%= render "show_mattresses" %>
      <% else %>
        <%= render "show_products" %>
      <% end %>
    </div>
  </div>
</div>
