<div class="container">
  <div class="row">
    <div class="box promo">
      <div class="col-lg-12">
        <hr>
        <h2 class="intro-text text-center">
            <strong><%= @category %></strong>
        </h2>
        <hr>
      </div>

      <%= render "search_form" %>
      <% if @products.length > 0 %>
        <% @products.each do |product| %>
          <% if product.description != " "%>
            <%= link_to(product_path(product)) do %>
              <div class="col-lg-4 product">
                <div class="safe-zone">
                  <div class="image" style="background: url(<%= product.image %>); background-size: cover; background-position: center center;"></div>
                </div>
                <div class="info">
                  <p><%= product.name %></p>
                </div>
              </div>
            <% end %>
          <% end %>
        <% end %>
      <% else %>
        <h1>Sorry, no products match those criteria</h1>
      <% end %>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<script>
  $(function() {
    $("#slideout-button").click(function() {
      $(".product-search").css("transform", "translateX(0)")
    })
  })
</script>
