<!DOCTYPE html>
<html>
  <head>
    <title><%= @store.name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= favicon_link_tag(source='favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <% stylesheet_link_tag 'casual', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag 'agency', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Dancing+Script|Merriweather" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>
    <div class="page">
      <div class="logo">
        <!-- <div class="brand"><%= link_to @store.name, '/' %></div> -->
        <%= image_tag('logo.jpg', class: "img-responsive", id: "logo") %>
        <div class="address-bar" id="address"><%= @store.address %> | <%= @store.phone %></div>
        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" id="nameMobile" href="/"><%= @store.name %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><%= link_to 'Dining', '/dining', id: "nav-dining" %></li>
                <li><%= link_to 'Living Room', '/seating', id: "nav-seating" %></li>
                <li><%= link_to 'Bedroom', '/bedroom', id: "nav-bedroom" %></li>
                <li><%= link_to 'Youth', '/youth', id: "nav-youth" %></li>
                <li><%= link_to 'Mattresses', mattresses_path, id: "nav-mattresses" %></li>
                <li><%= link_to 'Contact', '/contact', id: "nav-contact" %></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          <!-- /.container -->
        </nav>
      </div>

      <%= yield %>

      <footer>
        <p><%= @store.name %> &copy; <%= Date.today.year %></p>
        <!-- <ul class="footer-links">
          <li><%= link_to "Brands", brands_path %></li>
        </ul> -->
      </footer>
    </div>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-109998406-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-109998406-1');
    </script>
  </body>
</html>
