<!DOCTYPE html>
<html>
  <head>
    <title>BiancasRails</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
  </head>

  <body>
    <div class="page">
      <div class="logo">
        <div class="brand"><%= link_to @store.name, '/' %></div>
        <!-- Navigation -->
        <nav class="navbar navbar-default" role="navigation">
          <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- navbar-brand is hidden on larger screens, but visible when the menu is collapsed -->
                <a class="navbar-brand" id="nameMobile" href="/"><%= @store.name %></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><%= link_to 'Dining', dinings_path() %></li>
                <li><%= link_to 'Living Room', seatings_path() %></li>
                <li><%= link_to 'Bedroom', bedrooms_path() %></li>
                <li><%= link_to 'Contact', store_path(@store) %></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </div>
          <!-- /.container -->
        </nav>
      </div>

      <%= yield %>

      <footer>
        <p><%= @store.name %> &copy; <%= Date.today.year %></p>
      </footer>
    </div>
  </body>
</html>
