<div class="container">
  <div id="carousel-example-generic" class="carousel slide" style="margin-top: 20px">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
      <% @slideshow.each_with_index do |image, index| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" <% if index == 0 %> class="active" <% end %>></li>
      <% end %>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= link_to "/dining" do %>
          <%= image_tag 'holiday-savings.jpg' %>
        <% end %>
      </div>
    </div>
  <!-- <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="icon-prev"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="icon-next"></span>
  </a> -->
</div>
  <!-- Controls -->

  <div class="box" style="margin-top: 0;">
    <div class="row">
      <div class="col-lg-12 text-center">
        <hr>
        <h2 class="brand-before">
          <small>Welcome to</small>
        </h2>
        <h1 class="brand-name"><%= @store.name %></h1>
        <hr class="tagline-divider">
      </div>
    </div>
    <div class="row">
      <h3 class="text-center lowercase">Shop by Category</h3>
      <%= link_to "/seating", id: "shop-seating" do %>
      <div class="col-sm-3 shop-product product">
        <div class="safe-zone">
          <div class="image" style="background: url('https://www.foagroup.com/media/catalog/product/cache/1/image/040ec09b1e35df139433887a97daa66f/s/m/sm8822-sf.jpg'); background-size: cover; background-position: center center;"></div>
          <div class="info">
            <p>Living Room</p>
          </div>
        </div>
      </div>
      <% end %>
      <%= link_to "/bedroom", id: "shop-bedroom" do %>
        <div class="col-sm-3 shop-product product">
          <div class="safe-zone">
            <div class="image" style="background: url('https://www.homelegance.com/wp-content/uploads/2017/03/1707-1__11-750x500.jpg'); background-size: cover; background-position: center center;"></div>
            <div class="info">
              <p>Bedroom</p>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to "/dining", id: "shop-dining" do %>
        <div class="col-sm-3 shop-product product">
          <div class="safe-zone">
            <div class="image" style="background: url('http://www.urbanstyles.net/media/catalog/product/cache/1/image/900x600/9df78eab33525d08d6e5fb8d27136e95/f/a/farmhouse_set.jpg'); background-size: cover; background-position: center center;"></div>
            <div class="info">
              <p>Dining</p>
            </div>
          </div>
        </div>
      <% end %>
      <%= link_to "/mattresses", id: "shop-mattresses" do %>
        <div class="col-sm-3 shop-product product">
          <div class="safe-zone">
            <div class="image" style="background: url('http://www.thedump.com/content/images/thumbs/0003184_meditations-enlightenment-queen-mattress_775.jpeg'); background-size: cover; background-position: center center;"></div>
            <div class="info">
              <p>Mattresses</p>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row" style="margin-top: 20px;">
      <h3 class="text-center lowercase">About Us</h3>
      <div class="col-md-7">
        <%= image_tag(@store.store_image, class: 'img-responsive img-border-left shadow img-full') %>
      </div>
      <div class="col-md-5">
        <p class="store-copy"><%= @store.store_copy %></p>
      </div>
    </div>
    <div class="clearfix"></div>
  </div>
  <!-- Begin MailChimp Signup Form -->
  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
  <div id="mc_embed_signup">
    <form action="https://sofalovedesigns.us13.list-manage.com/subscribe/post?u=94545b07e7bf44c99407cb920&amp;id=2296d31216" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
          <label for="mce-EMAIL">Stay up to date on our promotions!</label>
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_94545b07e7bf44c99407cb920_2296d31216" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
    </form>
  </div>
<!--End mc_embed_signup-->
</div>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 000 //changes the speed
})
</script>
