
  <div id="carousel-example-generic" class="carousel slide">
    <!-- Indicators -->
    <ol class="carousel-indicators hidden-xs">
      <% @slideshow.each_with_index do |image, index| %>
      <li data-target="#carousel-example-generic" data-slide-to="<%= index %>" <% if index == 0 %> class="active" <% end %>></li>
      <% end %>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <div class="col-xs-4 product-slide">
          <img class="" src="<%= @slideshow[0].image %>" alt="">
        </div>
        <div class="col-xs-4">
          <div class="cover"></div>
          <div class="promo">
            <img src="http://www.mentalhealthamerica.net/sites/default/files/styles/interior_page_banner/public/BackToSchoolHeader.png?itok=ehkyBAet" alt="" style="padding: 10px;" class="img-responsive">
            <h3>New year, <strong>New bedroom</strong></h3>
            <%= link_to '/bedroom' do %>
            <button class="promo-button">Shop Now</button>
            <% end %>
          </div>
        </div>
        <div class="col-xs-4 product-slide">
          <img class="flip" src="<%= @slideshow[1].image %>" alt="">
        </div>
      </div>
        <div class="item mattress-quiz">
          <%= link_to quiz_index_path do %>
          <h2>Find your perfect mattress in minutes</h2>
          <!-- <button class="promo-button">Take our quiz</button> -->
          <img class="" src="https://www.goodbed.com/media/pictures/mattresses/serta/serta-picture-30.jpg" alt="">
          <% end %>
        </div>
    </div>
    <!-- Controls -->
    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
      <span class="icon-prev"></span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
      <span class="icon-next"></span>
    </a>
  </div>

<div class="box" style="margin-top: 40px;">
  <div class="col-lg-12 text-center">
    <hr>
    <h2 class="brand-before">
      <small>Welcome to</small>
    </h2>
    <h1 class="brand-name"><%= @store.name %></h1>
    <hr class="tagline-divider">
  </div>
  <div class="col-md-6">
    <%= image_tag("store.png", class: 'img-responsive img-border-left shadow img-full') %>
  </div>
  <div class="col-md-6">
    <p><%= @store.store_copy %></p>
  </div>
  <div class="clearfix"></div>
</div>

<!-- Script to Activate the Carousel -->
<script>
$('.carousel').carousel({
    interval: 000 //changes the speed
})
</script>
